body{
    font-family: "Proxima Nova", sans-serif;
    background-color: #fff;
    text-align: center;
    margin: 150px auto;
    margin-left: 250px;
    margin-right: 250px;
}
.icon1{
    border-radius: 50%;
    background-color:#2a69a6;
    background-image: url(../img/white_phone.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.icon2{
    border-radius: 50%;
    background-color:#2a69a6;
    background-image: url(../img/white_settings.png);
    background-repeat: no-repeat;
    background-position: center center;
}  
.icon3{
    border-radius: 50%;
    background-color:#2a69a6;
    background-image: url(../img/speed_white.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.icon1:hover{
    background-color: white;
  background-image: url(../img/Tablet_blue.png);
}
.icon2:hover{
    background-color: white;
  background-image: url(../img/settings_blue.png);
}
.icon3:hover{
    background-color: white;
  background-image: url(../img/speed_blue.png);
}
.tittle{
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 24px;
    color: #000000;
}
.text3{
    width: 260px;
    height: 51px;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 20px;
    color: #9d9d9d;
    font-weight: 300;
}